html,
body {
  --s: 120px; /* control the size */

  background: conic-gradient(
        from 150deg at 50% 33%,
        #0000,
        #fa6900 0.5deg 60deg,
        #0000 60.5deg
      )
      calc(var(--s) / 2) calc(var(--s) / 1.4),
    conic-gradient(
      from -30deg at 50% 66%,
      #0000,
      #d95b43 0.5deg 60deg,
      #ecd078 60.5deg
    );
  background-size: var(--s) calc(var(--s) / 1.154);
}

body {
  text-align: center;
  background-color: aquamarine;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  background-color: bisque;
  border-radius: 10px;
  padding: 10%;
}

.cards {
  margin: 1% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.name,
.description {
  margin: 3%;
}

.name {
  color: rgb(67, 164, 164);
}

.imoji {
  font-size: 3rem;
}

.header {
  padding: 1%;
  font-size: 3rem;
  margin: auto;
  margin-top: 1%;
}
